boto3==1.25.4
botocore==1.28.5
moto==4.2.6
pytest==7.4.2
pytest-cov==4.1.0
pytest-socket==0.6.0
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
